/** Taken from clrs.cc */
$COLOR_NAVY: #001f3f;
$COLOR_BLUE: #0074d9;
$COLOR_AQUA: #7fdbff;
$COLOR_TEAL: #39cccc;
$COLOR_PURPLE: #b10dc9;
$COLOR_FUCHSIA: #f012be;
$COLOR_MAROON: #85144b;
$COLOR_RED: #ff4136;
$COLOR_ORANGE: #ff851b;
$COLOR_YELLOW: #ffdc00;
$COLOR_OLIVE: #3d9970;
$COLOR_GREEN: #2ecc40;
$COLOR_LIME: #01ff70;
$COLOR_BLACK: #111;
$COLOR_GRAY: #aaa;
$COLOR_SILVER: #ddd;
$COLOR_WHITE: #fff;
