@import "../../style/colors.scss";
@import "../../style//fab.scss";

.header-wrapper {
  background-color: $COLOR_BLUE;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);

  & > .logo {
    font-size: 2rem;
  }

  & > .nav {
    font-size: 1.5rem;
  }
}
